<% unless current_page?(root_path) %>
  <nav class="fixed w-full backdrop-blur-md z-10">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <%= link_to agency_path, class: "w-28" do %>
          <div class="w-[28px] flex flex-col justify-between gap-2">
            <div class="w-full rounded-sm h-[6px] <%= (current_page?(agency_path) || current_page?(references_path)) ? "bg-black" : "bg-white" %>"></div>
            <div class="w-[90%] rounded-sm h-[6px] <%= (current_page?(agency_path) || current_page?(references_path)) ? "bg-black" : "bg-white" %>"></div>
            <div class="w-full rounded-sm h-[6px] <%= (current_page?(agency_path) || current_page?(references_path)) ? "bg-black" : "bg-white" %>"></div>
          </div>
        <% end %>
        <div class="hidden sm:block">
          <div class="grid grid-cols-3 gap-4 p-1 border-2 rounded-3xl <%= (current_page?(agency_path) || current_page?(references_path)) ? "border-gray-800 bg-gray-900" : "border-gray-200 bg-gray-100" %>">
            <% if current_page?(agency_path) %>
              <%= link_to Section.find_by(category: "agency").title.capitalize, agency_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-semibold text-gray-200 bg-gray-700" %>
              <%= link_to Section.find_by(category: "talent").title.capitalize, talents_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-400" %>
              <%= link_to Section.find_by(category: "client").title.capitalize, references_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-400" %>
            <% elsif current_page?(talents_path) %>
              <%= link_to Section.find_by(category: "agency").title.capitalize, agency_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-500" %>
              <%= link_to Section.find_by(category: "talent").title.capitalize, talents_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-semibold text-gray-900 bg-gray-300" %>
              <%= link_to Section.find_by(category: "client").title.capitalize, references_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-500" %>
            <% elsif current_page?(references_path) %>
              <%= link_to Section.find_by(category: "agency").title.capitalize, agency_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-400" %>
              <%= link_to Section.find_by(category: "talent").title.capitalize, talents_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-400" %>
              <%= link_to Section.find_by(category: "client").title.capitalize, references_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-semibold text-gray-200 bg-gray-700" %>
            <% else %>
              <%= link_to Section.find_by(category: "agency").title.capitalize, agency_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-500" %>
              <%= link_to Section.find_by(category: "talent").title.capitalize, talents_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-500" %>
              <%= link_to Section.find_by(category: "client").title.capitalize, references_path, class: "flex justify-center rounded-3xl px-3 py-2 text-sm font-medium text-gray-500" %>
            <% end %>
          </div>
        </div>
        <%= link_to Section.find_by(category: "contact").title.capitalize, contact_section_path, class: "#{(current_page?(agency_path) || current_page?(references_path)) ? "bg-black text-white border-black hover:bg-gray-700 hover:border-gray-700" : "bg-white text-black border-white hover:bg-gray-200 hover:border-gray-200"} border-2 border-solid rounded-md px-3 py-2 text-sm font-bold w-28 flex justify-center" %>
      </div>
    </div>
  </nav>
<% end %>
