<div class="relative h-[80vh] w-[90vw] pt-24 mx-auto max-w-7xl px-6 lg:px-8">
  <div class="flex items-center gap-x-5">
    <div>test</div>
    <div class="references-wrapper w-full mx-auto flex overflow-x-hidden overflow-x-scroll max-w-lg items-center gap-x-10 sm:max-w-xl lg:mx-0 lg:max-w-none">
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
      <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
    </div>
    <div>test</div>
  </div>
</div>
