<div data-navbar-target="section" data-section="references" class="relative isolate pt-24 mx-auto max-w-7xl">
  <svg class="absolute inset-x-0 top-0 -z-10 h-screen w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
  </svg>

  <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
    <div class="aspect-[801/1036] w-[100%] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
  </div>

  <div class="bg-gray-100 shadow-lg w-full h-[75vh] rounded-lg p-3">

    <div class="rounded-lg w-full h-full bg-gray-300 flex flex-col p-3 justify-between">
      <div class="relative w-full bg-white h-[80%] rounded-lg bg-gray-200 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
        <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group bg-white p-6 flex flex-col items-center gap-5">
          <%= image_tag("test.png", class: "w-4/5") %>
          <h3 class="text-base font-semibold text-gray-900">
            🍕 Le leader de la pizza en livraison et à emporter.
          </h3>
        </div>
        <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group bg-white p-6 overflow-y-hidden overflow-y-scroll">
          <div>
            <div class="flex gap-2">
              <span class="inline-flex rounded-lg bg-cyan-200 text-teal-700 ring-4 ring-white">
                <%= show_svg("film") %>
              </span>
              <h3 class="text-base font-semibold leading-6 text-gray-900">
                <strong>Production audiovisuelle :</strong> La chasse au trésor
              </h3>
            </div>
            <div>
              <p class="mt-2 text-sm text-gray-500">Production et réalisation de vidéos type “capsules” et “reportage” pour la Chasse aux trésors. Les participants devaient trouver des items dans toute la ville de Rennes, afin de gagner 1 an de pizza chez Domino’s. Cet événement a été organisé dans le cadre des 25 ans de la marque à Rennes.</p>
            </div>
            <iframe class="mt-5" width="560" height="315" src="https://www.youtube.com/embed/676k3mLerzg?si=ME1gN1aMlcnx-GmT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div>
            <div class="flex gap-2">
              <span class="inline-flex rounded-lg bg-cyan-200 text-teal-700 ring-4 ring-white">
                <%= show_svg("film") %>
              </span>
              <h3 class="text-base font-semibold leading-6 text-gray-900">
                <strong>Production audiovisuelle :</strong> La chasse au trésor
              </h3>
            </div>
            <div>
              <p class="mt-2 text-sm text-gray-500">Production et réalisation de vidéos type “capsules” et “reportage” pour la Chasse aux trésors. Les participants devaient trouver des items dans toute la ville de Rennes, afin de gagner 1 an de pizza chez Domino’s. Cet événement a été organisé dans le cadre des 25 ans de la marque à Rennes.</p>
            </div>
            <iframe class="mt-5" width="560" height="315" src="https://www.youtube.com/embed/676k3mLerzg?si=ME1gN1aMlcnx-GmT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div>
            <div class="flex gap-2">
              <span class="inline-flex rounded-lg bg-cyan-200 text-teal-700 ring-4 ring-white">
                <%= show_svg("film") %>
              </span>
              <h3 class="text-base font-semibold leading-6 text-gray-900">
                <strong>Production audiovisuelle :</strong> La chasse au trésor
              </h3>
            </div>
            <div>
              <p class="mt-2 text-sm text-gray-500">Production et réalisation de vidéos type “capsules” et “reportage” pour la Chasse aux trésors. Les participants devaient trouver des items dans toute la ville de Rennes, afin de gagner 1 an de pizza chez Domino’s. Cet événement a été organisé dans le cadre des 25 ans de la marque à Rennes.</p>
            </div>
            <iframe class="mt-5" width="560" height="315" src="https://www.youtube.com/embed/676k3mLerzg?si=ME1gN1aMlcnx-GmT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="flex gap-x-5 flex-1 items-center">
        <div class="references-wrapper w-full mx-auto flex overflow-x-hidden overflow-x-scroll max-w-lg items-center gap-x-10 sm:max-w-xl lg:mx-0 lg:max-w-none">
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
          <button class="w-1/6 flex-shrink-0"><%= image_tag("test.png")%></button>
        </div>
      </div>

    </div>
  </div>
</div>
