<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Nouveau message de contact</h2>
  <p><strong>Nom :</strong> <%= @first_name.capitalize %> <%= @last_name.upcase %></p>
  <p><strong>Email :</strong> <%= @email %></p>
  <p><strong>Numéro :</strong> <%= @phone %></p>
  <p><strong>Message :</strong> <%= @message %></p>
</body>
</html>
