<!DOCTYPE html>
<html>
  <head>
    <title>Landing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="loading navbar">
    <%= render 'pages/navbar' %>
    <div data-loading-target="container" class="displayed relative w-screen h-screen">
      <%= yield %>
    </div>
  </body>
</html>
