<!DOCTYPE html>
<html>
  <head>
    <title>LEADZ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="loading navbar">
    <%= render "shared/flashes" %>
    <% if controller_path.starts_with?("admin/") || current_page?(edit_user_registration_path) || current_page?(new_user_session_path) %>
      <div>
        <%= render "shared/sidebar" %>
        <div class="lg:pl-72">
          <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
    <% else %>
      <%= render "shared/navbar" %>
      <div data-loading-target="container" class="displayed relative w-screen h-screen">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
